<a href="https://colab.research.google.com/github/dxmai/CS114.L21.KHCL/blob/main/FinalProject/FinalProject_FakeNews_CollectData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import thư viện

In [ ]:
import pandas as pd
import json

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Hàm lọc lại năm

In [ ]:
def Filter_Year(dataFrame):
  yearsList = ['2021', '2020', '2019', '2018']
  delete_list = []
  for row in range(len(dataFrame)):
    flag = False
    for year in yearsList:
        if year in dataFrame.iloc[row]['date']:
          flag = True
          break
    if not flag:
      delete_list.append(row)
  return delete_list

In [ ]:
def Delete_From_DataFrame(dataFrame):
  delete_list = Filter_Year(dataFrame)
  for index in delete_list:
     dataFrame.drop(index=index, inplace=True)
  dataFrame.reset_index(drop=True, inplace=True)

#Hàm lọc lại những giá trị bị trùng, none,...

In [ ]:
def Filter(dataFrame):
  dataFrame.dropna(inplace=True)
  dataFrame.drop(dataFrame[dataFrame['date'] == ""].index, inplace=True)
  dataFrame.drop(dataFrame[dataFrame['title'] == ""].index, inplace=True)
  dataFrame.drop(dataFrame[dataFrame['text'] == ""].index, inplace=True)
  dataFrame.drop_duplicates(inplace=True)
  dataFrame.reset_index(drop=True, inplace=True)

#Trang tin giả

##Activistpost

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.activistpost.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)


    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018'] 
        available = False 
        date = response.css('.entry-meta span::text').get() 
        for year in yearsList: 
            if year in date: 
                available = True 
                break
        if available: 
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence = sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
activist = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/activistpost.json')
Filter(activist)
activist

            date  ... is_fake
0     2021-05-28  ...       1
1     2021-06-28  ...       1
2     2021-05-29  ...       1
3     2021-05-28  ...       1
4     2021-06-25  ...       1
...          ...  ...     ...
10253 2019-12-06  ...       1
10254 2019-12-06  ...       1
10255 2019-12-05  ...       1
10256 2019-12-05  ...       1
10257 2019-12-05  ...       1

[10258 rows x 4 columns]

##Natural News

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.naturalnews.com/all-posts.html'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.f-tabbed-list-content')
        allLinks = getLinkInDiv.css('h2 a::attr(href)').getall()

        for each_link in allLinks:
            each_link = 'https://www.naturalnews.com/' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.pagination-next a::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.Article-Author::text').get()
        date = date.replace(' by: ', '')
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
natural = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/naturalnews.json')
Filter(natural)
natural

            date  ... is_fake
0     2021-06-29  ...       1
1     2021-06-29  ...       1
2     2021-06-29  ...       1
3     2021-06-29  ...       1
4     2021-06-29  ...       1
...          ...  ...     ...
11980 2020-03-03  ...       1
11981 2020-03-03  ...       1
11982 2020-03-03  ...       1
11983 2020-03-04  ...       1
11984 2020-03-05  ...       1

[11985 rows x 4 columns]

##Zerohedge

In [ ]:
import scrapy
dateValid = True

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.zerohedge.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.Article_mobileNonSticky__PmGNH')
        allLinks = getLinkInDiv.css('h2 a::attr(href)').getall()

        for each_link in allLinks:
            if dateValid:
                each_link = 'https://www.zerohedge.com' + each_link
                yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.SimplePaginator_next__15okP::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.ArticleFull_headerFooter__date__3T7FN::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.ArticleFull_title__2cUI6::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.NodeContent_body__2clki p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                sentence = sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [ ]:
zerohedge = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/zerohedge.json')
Filter(natural)
zerohedge

                   date  ... is_fake
0   2021-07-01 09:05:00  ...       1
1   2021-07-01 09:28:00  ...       1
2   2021-07-01 08:35:00  ...       1
3   2021-07-01 08:45:00  ...       1
4   2021-07-01 07:15:00  ...       1
..                  ...  ...     ...
366 2021-06-30 20:05:00  ...       1
367 2021-07-01 12:26:00  ...       1
368 2021-07-01 12:30:00  ...       1
369 2021-07-01 06:44:00  ...       1
370 2021-07-01 12:41:00  ...       1

[371 rows x 4 columns]

##Prntly

In [ ]:
import scrapy
dateValid = True

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://prntly.com/category/science/',
            'https://prntly.com/category/politics/',
            'https://prntly.com/category/world/europe/',
            'https://prntly.com/category/world/asia/',
            'https://prntly.com/category/world/middle-east/',
            'https://prntly.com/category/local-news/',
            'https://prntly.com/category/trade-jobs/',
            'https://prntly.com/category/immigration/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.entry-content-holder')
        allLinks = getLinkInDiv.css('h2 a::attr(href)').getall()

        for each_link in allLinks:
            if dateValid:
                yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.entry-date::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h1.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                sentence = sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [ ]:
prntly = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/prntly.json')
Filter(prntly)
prntly

          date  ... is_fake
0   2020-01-28  ...       1
1   2020-02-07  ...       1
2   2020-02-28  ...       1
3   2020-02-28  ...       1
4   2020-02-06  ...       1
..         ...  ...     ...
561 2020-01-13  ...       1
562 2020-01-13  ...       1
563 2020-01-13  ...       1
564 2020-01-13  ...       1
565 2020-01-13  ...       1

[566 rows x 4 columns]

##Thegateway

In [ ]:
import scrapy
dateValid = True

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.thegatewaypundit.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        if dateValid:
            getLinkInDiv = response.css('div.tgp-post')
            allLinks = getLinkInDiv.css('.entry-archive-title a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.next a::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.entry-meta-text span::text')[2].get()
        date = date.replace('\nPublished ', '')
        temp = date.split(' at', 1)
        date = temp[0]
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h1.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [ ]:
thegateway = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/thegateway.json')
Filter(thegateway)
thegateway

                date  ... is_fake
0       July 1, 2021  ...       1
1       July 1, 2021  ...       1
2       July 1, 2021  ...       1
3       July 1, 2021  ...       1
4       July 1, 2021  ...       1
...              ...  ...     ...
36649  June 30, 2021  ...       1
36650  June 30, 2021  ...       1
36651  June 30, 2021  ...       1
36652  June 30, 2021  ...       1
36653   July 1, 2021  ...       1

[36654 rows x 4 columns]

##Conservativedailypost

In [ ]:
import scrapy
dateValid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://conservativedailypost.com/category/politics/'
            'https://conservativedailypost.com/category/u-s/',
            'https://conservativedailypost.com/category/world/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        if dateValid:
            getLinkInDiv = response.css('div.mob')
            allLinks = getLinkInDiv.css('h4 a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.date-published::text')[-1].get()
        date = date.replace('\n', '')
        date = date.replace('\t', '')
        date = date.replace('\r', '')
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h1.min-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.content-container p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [ ]:
conservative = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/conservative.json')
Filter(conservative)
conservative

                    date  ... is_fake
0    2021-07-01 13:00:00  ...       1
1    2021-07-01 17:54:00  ...       1
2    2021-07-01 18:18:00  ...       1
3    2021-07-01 19:01:00  ...       1
4    2021-07-01 16:41:00  ...       1
...                  ...  ...     ...
4883 2018-01-23 00:29:00  ...       1
4884 2018-01-23 00:23:00  ...       1
4885 2018-01-23 00:16:00  ...       1
4886 2018-01-22 23:45:00  ...       1
4887 2018-01-21 00:52:00  ...       1

[4888 rows x 4 columns]

##Dailyheadlines

In [ ]:
import scrapy
dateValid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'http://dailyheadlines.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        if dateValid:
            getLinkInDiv = response.css('h2.entry-title')
            allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.pagination a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.post-meta-date::text')[-1].get()
        date = date.replace('\n', '')
        date = date.replace(' ' * 21, '')
        print(date)
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h2.post-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            title = title.replace(' ' * 12, '')
            title = title.replace(' ' * 9, '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [ ]:
dailyheadline = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/dailyheadline.json')
Filter(dailyheadline)
dailyheadline

           date  ... is_fake
0    2021-06-25  ...       1
1    2021-06-25  ...       1
2    2021-06-24  ...       1
3    2021-07-01  ...       1
4    2021-06-25  ...       1
...         ...  ...     ...
2547 2021-04-08  ...       1
2548 2021-05-19  ...       1
2549 2021-06-24  ...       1
2550 2021-06-23  ...       1
2551 2021-06-24  ...       1

[2552 rows x 4 columns]

##Dcgazette

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://dcgazette.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False 
        date = response.css('.entry-meta span::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
dcgaze = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data5.json')
Filter(dcgaze)
dcgaze

           date  ... is_fake
0    2020-08-21  ...       1
1    2020-08-19  ...       1
2    2020-08-19  ...       1
3    2020-08-19  ...       1
4    2020-08-20  ...       1
...         ...  ...     ...
1479 2019-04-01  ...       1
1480 2019-04-02  ...       1
1481 2019-04-01  ...       1
1482 2019-04-02  ...       1
1483 2019-04-02  ...       1

[1484 rows x 4 columns]

##Worldtruth

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://worldtruth.tv/2018/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.entry-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('.page-nav a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('.entry-title::text').get()
        paragraph = response.css('.td-post-content p::text').getall()
        text = ''
        count = 0
        for sentence in paragraph:
            if count == 4:
                break
            if count == 0:
                count += 1
                continue
            sentence.replace('\xa0', '')
            text = text + sentence
            count += 1
        yield {
            'date': 2018,
            'title': title,
            'text': text,
            'is_fake': 1
        }

In [ ]:
world2018 = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data7.json')
world2018.drop(world2018[world2018['text'] == " \n "].index, inplace=True)
Filter(world2018)
world2018

      date  ... is_fake
0     2018  ...       1
1     2018  ...       1
2     2018  ...       1
3     2018  ...       1
4     2018  ...       1
...    ...  ...     ...
4593  2018  ...       1
4594  2018  ...       1
4595  2018  ...       1
4596  2018  ...       1
4597  2018  ...       1

[4598 rows x 4 columns]

In [ ]:
world2019 = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data8.json')
world2019.drop(world2019[world2019['text'] == " \n "].index, inplace=True)
Filter(world2019)
world2019

      date  ... is_fake
0     2019  ...       1
1     2019  ...       1
2     2019  ...       1
3     2019  ...       1
4     2019  ...       1
...    ...  ...     ...
4407  2019  ...       1
4408  2019  ...       1
4409  2019  ...       1
4410  2019  ...       1
4411  2019  ...       1

[4412 rows x 4 columns]

In [ ]:
world2020 = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data10.json')
world2020.drop(world2020[world2020['text'] == " \n "].index, inplace=True)
Filter(world2020)
world2020

      date  ... is_fake
0     2020  ...       1
1     2020  ...       1
2     2020  ...       1
3     2020  ...       1
4     2020  ...       1
...    ...  ...     ...
2832  2020  ...       1
2833  2020  ...       1
2834  2020  ...       1
2835  2020  ...       1
2836  2020  ...       1

[2837 rows x 4 columns]

##Opindia

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.opindia.com/category/politics/',
            'https://www.opindia.com/category/opinions/',
            'https://www.opindia.com/category/fact-check/',
            'https://www.opindia.com/category/media/',
            'https://www.opindia.com/category/variety/',
            'https://www.opindia.com/category/explainer/',
            'https://www.opindia.com/category/virtual-world/',
            'https://www.opindia.com/category/entertainment/',
            'https://www.opindia.com/category/political-history-of-india/',
            'https://www.opindia.com/category/government-and-policy/',
            'https://www.opindia.com/category/economy-and-finance/',
            'https://www.opindia.com/category/sports/',
            'https://www.opindia.com/category/international/',
            'https://www.opindia.com/category/crime/',
            'https://www.opindia.com/category/law/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.td-module-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('.page-nav a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('div.tdb-block-inner time::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.tdb-title-text::text').get()
            paragraph = response.css('.tdb-block-inner p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
opindia = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data2.json')
Filter(opindia)
opindia

            date  ... is_fake
0     2021-07-01  ...       1
1     2021-07-01  ...       1
2     2021-06-30  ...       1
3     2021-06-30  ...       1
4     2021-06-30  ...       1
...          ...  ...     ...
22452 2018-10-02  ...       1
22453 2021-03-23  ...       1
22454 2020-05-15  ...       1
22455 2018-09-14  ...       1
22456 2018-09-14  ...       1

[22457 rows x 4 columns]

##Blingnews

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'http://www.blingnews.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('span.entry-meta-date::text').get()  
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
bling = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data15.json')
Filter(bling)
bling

           date  ... is_fake
0    2019-09-25  ...       1
1    2019-09-25  ...       1
2    2019-09-25  ...       1
3    2019-09-29  ...       1
4    2019-09-25  ...       1
...         ...  ...     ...
1694 2018-01-02  ...       1
1695 2018-01-01  ...       1
1696 2018-01-01  ...       1
1697 2018-01-01  ...       1
1698 2018-01-01  ...       1

[1699 rows x 4 columns]

##RightWingTribune

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://rightwingtribune.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False
        date = response.css('span.entry-meta-date::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            title = title.replace('\r', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
rightwing = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data16.json')
Filter(rightwing)
rightwing

           date  ... is_fake
0    2020-12-28  ...       1
1    2020-12-26  ...       1
2    2020-10-04  ...       1
3    2020-12-16  ...       1
4    2020-10-03  ...       1
...         ...  ...     ...
6785 2020-10-01  ...       1
6786 2020-10-02  ...       1
6787 2020-10-02  ...       1
6788 2020-10-01  ...       1
6789 2020-10-02  ...       1

[6790 rows x 4 columns]

##EndOfTheAmericanDream

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'http://endoftheamericandream.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h2.entry-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('span.posted-on time::text').get() 
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            title = title.replace('\r', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
end = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data17.json')
Filter(end)
end

          date  ... is_fake
0   2021-06-29  ...       1
1   2021-07-04  ...       1
2   2021-06-24  ...       1
3   2021-06-28  ...       1
4   2021-06-20  ...       1
..         ...  ...     ...
667 2018-01-03  ...       1
668 2018-05-16  ...       1
669 2018-05-01  ...       1
670 2018-05-14  ...       1
671 2018-05-12  ...       1

[672 rows x 4 columns]

##21centurywire

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"
    page_number = 2
    def start_requests(self):
        urls = [
        'https://21stcenturywire.com/category/international-news/',
        'https://21stcenturywire.com/category/europe/',
        'https://21stcenturywire.com/category/africa/',
        'https://21stcenturywire.com/category/middle-east/',
        'https://21stcenturywire.com/category/us-news/',
        'https://21stcenturywire.com/tag/eurasia/',
        'https://21stcenturywire.com/category/south-america/',
        'https://21stcenturywire.com/category/sci-tech/',
        'https://21stcenturywire.com/tag/covid-19/'
       ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkinDiv = response.css('h2.entry-title')
        allLinks = getLinkinDiv.css('a::attr(href)').getall()


        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.pagination-next a::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('.entry-title::text').get()
        title = title.replace('\n', '')
        title = title.replace('\t', '')
        date = response.css('.time::text').get()
        paragraph = response.css('p::text').getall()


        text = ''

        count = 0

        for sentence in paragraph:
            if count == 0:
                count += 1
                continue
            if count == 4:
                break
            sentence = sentence.replace('\xa0', '')
            sentence = sentence.replace('\n', '')
            sentence = sentence.replace('\t', '')
            text = text + sentence
            count += 1

        yield {
            'date' : date,
            'title' : title,
            'text' : text,
            'is_fake' : 1
        }

In [ ]:
stcenturywire = pd.read_json('https://raw.githubusercontent.com/hoainam2310/Machine-Learning/main/21stcenturywire1.json')
Filter(stcenturywire)
stcenturywire

           date  ... is_fake
0    2021-06-18  ...       1
1    2019-04-12  ...       1
2    2019-04-12  ...       1
3    2019-12-01  ...       1
4    2019-07-22  ...       1
...         ...  ...     ...
7764 2013-02-10  ...       1
7765 2013-02-09  ...       1
7766 2013-02-09  ...       1
7767 2013-02-09  ...       1
7768 2013-02-09  ...       1

[7769 rows x 4 columns]

In [ ]:
#Chuyển kiểu dữ liệu về dạng string 
stcenturywire = stcenturywire.astype({"date":str})

In [ ]:
Delete_From_DataFrame(stcenturywire)
stcenturywire

            date  ... is_fake
0     2021-06-18  ...       1
1     2019-04-12  ...       1
2     2019-04-12  ...       1
3     2019-12-01  ...       1
4     2019-07-22  ...       1
...          ...  ...     ...
2654  2020-04-18  ...       1
2655  2020-04-13  ...       1
2656  2020-04-03  ...       1
2657  2020-03-15  ...       1
2658  2020-03-22  ...       1

[2659 rows x 4 columns]

##Infostormer

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://infostormer.com/category/world/',
            'https://infostormer.com/category/featured/',
            'https://infostormer.com/category/us/',
            'https://infostormer.com/category/culture/',
            'https://infostormer.com/category/jewish-problem/'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.td_module_11')
        allLinks = getLinkInDiv.css('.entry-title a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.page-nav a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse, dont_filter=True)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.entry-date::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.td-post-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                sentence = sentence.replace('\\', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
infos = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/infostormer.json')
Filter(infos)
infos

           date  ... is_fake
0    2021-06-24  ...       1
1    2021-06-26  ...       1
2    2021-06-24  ...       1
3    2021-06-27  ...       1
4    2021-06-26  ...       1
...         ...  ...     ...
5708 2018-01-05  ...       1
5709 2018-01-04  ...       1
5710 2018-01-04  ...       1
5711 2018-01-01  ...       1
5712 2018-01-01  ...       1

[5713 rows x 4 columns]

##InvestmentWatch

In [ ]:
import scrapy
offset = 1
valid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.investmentwatchblog.com/'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        global offset
        allLinks = response.css('h2.entry-title a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        if valid:
            next_page = 'https://www.investmentwatchblog.com/page/'
            offset += 1
            next_page = next_page + str(offset) + '/'
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        global valid
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.entry-date::text').get()
        if date is not None:
            for year in yearsList:
                if year in date:
                    available = True
                    break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                sentence = sentence.replace('\'', ' ')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        elif date is not None:
            valid = False

File's link: https://drive.google.com/file/d/1zaFO2kkaqMlTt4nyIG_O2EsHeajggSpB/view?usp=sharing

In [ ]:
invest = pd.read_json('drive/MyDrive/invest.json')
Filter(invest)
invest

            date  ... is_fake
0     2021-07-07  ...       1
1     2021-07-07  ...       1
2     2021-07-07  ...       1
3     2021-07-07  ...       1
4     2021-07-07  ...       1
...          ...  ...     ...
78385 2018-03-29  ...       1
78386 2018-04-01  ...       1
78387 2018-04-19  ...       1
78388 2018-04-02  ...       1
78389 2020-02-04  ...       1

[78390 rows x 4 columns]

##Madworld

In [ ]:
import scrapy
valid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        global valid
        urls = [
            'https://madworldnews.com/politics/',
            'https://madworldnews.com/social-issues/',
            'https://madworldnews.com/entertainment/',
            'https://madworldnews.com/health-science/',
            'https://madworldnews.com/animals/'
        ]

        for url in urls:
            valid = True
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        allLinks = response.css('.entry-title a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        if valid:
            next_page = response.css('a.next::attr(href)').get()
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        global valid
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.entry-meta-date a::text').get()
        if date is not None:
            for year in yearsList:
                if year in date:
                    available = True
                    break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                sentence = sentence.replace('\'', ' ')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        elif date is not None:
            valid = False

In [ ]:
mad = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/madworld.json')
Filter(mad)
mad

         date  ... is_fake
0  2020-12-18  ...       1
1  2020-12-18  ...       1
2  2020-12-16  ...       1
3  2020-12-16  ...       1
4  2020-12-15  ...       1
..        ...  ...     ...
82 2018-01-17  ...       1
83 2018-03-13  ...       1
84 2018-03-07  ...       1
85 2018-07-11  ...       1
86 2018-07-31  ...       1

[87 rows x 4 columns]

##3percent

In [ ]:
import scrapy
valid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        global valid
        urls = [
            'https://threepercenternation.com/'
        ]

        for url in urls:
            valid = True
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        allLinks = response.css('a.vw-post-box__link::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        if valid:
            next_page = response.css('a.next::attr(href)').get()
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        global valid
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.vw-post-date time::text').get()
        if date is not None:
            for year in yearsList:
                if year in date:
                    available = True
                    break
        if available:
            title = response.css('.vw-post-title::text').get()
            paragraph = response.css('.vw-post-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                sentence = sentence.replace('\'', ' ')
                if sentence != "":
                    text = text + sentence
                    count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        elif date is not None:
            valid = False

In [ ]:
three = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/three.json')
Filter(three)
three

           date  ... is_fake
0    2021-07-02  ...       1
1    2021-07-01  ...       1
2    2021-07-04  ...       1
3    2021-07-04  ...       1
4    2021-07-04  ...       1
...         ...  ...     ...
3405 2018-01-03  ...       1
3406 2018-01-04  ...       1
3407 2018-01-03  ...       1
3408 2018-01-04  ...       1
3409 2018-01-04  ...       1

[3410 rows x 4 columns]

#Tổng hợp trang tin giả

In [ ]:
fake_news_website = [zerohedge, prntly, thegateway, conservative, dailyheadline, dcgaze, world2018, world2019, world2020, opindia, bling, rightwing, end, stcenturywire, infos, invest, mad, three]
data_fake_news = activist.append(natural, ignore_index=True)
for item in fake_news_website:
  data_fake_news = data_fake_news.append(item, ignore_index=True)
data_fake_news

                       date  ... is_fake
0       2021-05-28 00:00:00  ...       1
1       2021-06-28 00:00:00  ...       1
2       2021-05-29 00:00:00  ...       1
3       2021-05-28 00:00:00  ...       1
4       2021-06-25 00:00:00  ...       1
...                     ...  ...     ...
202477  2018-01-03 00:00:00  ...       1
202478  2018-01-04 00:00:00  ...       1
202479  2018-01-03 00:00:00  ...       1
202480  2018-01-04 00:00:00  ...       1
202481  2018-01-04 00:00:00  ...       1

[202482 rows x 4 columns]

#Trang tin chính thống

##Economist

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.economist.com/leaders',
            'https://www.economist.com/briefing',
            'https://www.economist.com/united-states',
            'https://www.economist.com/asia',
            'https://www.economist.com/the-americas',
            'https://www.economist.com/china',
            'https://www.economist.com/middle-east-and-africa',
            'https://www.economist.com/europe',
            'https://www.economist.com/britain',
            'https://www.economist.com/international',
            'https://www.economist.com/business',
            'https://www.economist.com/finance-and-economics',
            'https://www.economist.com/science-and-technology',
            'https://www.economist.com/books-and-arts',
            'https://www.economist.com/graphic-detail',
            'https://www.economist.com/obituary'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.teaser__text')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            each_link = 'https://www.economist.com' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.ds-pagination__nav--next a::attr(href)')[0].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.article__dateline-datetime::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.article__headline::text').get()
            paragraph = response.css('.article__body-text::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
eco = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/economist.json')
Filter(eco)
eco

            date  ... is_fake
0     2021-06-24  ...       0
1     2021-06-24  ...       0
2     2021-06-24  ...       0
3     2021-06-24  ...       0
4     2021-06-12  ...       0
...          ...  ...     ...
12587 2020-08-20  ...       0
12588 2019-01-17  ...       0
12589 2018-09-20  ...       0
12590 2018-04-14  ...       0
12591 2018-08-18  ...       0

[12592 rows x 4 columns]

##APNews

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://apnews.com/hub/coronavirus-pandemic',
            'https://apnews.com/hub/politics',
            'https://apnews.com/hub/sports',
            'https://apnews.com/hub/entertainment',
            'https://apnews.com/hub/lifestyle',
            'https://apnews.com/hub/oddities',
            'https://apnews.com/hub/travel',
            'https://apnews.com/hub/technology',
            'https://apnews.com/hub/ap-fact-check',
            'https://apnews.com/hub/business',
            'https://apnews.com/hub/us-news',
            'https://apnews.com/hub/health',
            'https://apnews.com/hub/science',
            'https://apnews.com/hub/world-news',
            'https://apnews.com/hub/religion'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.CardHeadline')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            each_link = 'https://apnews.com' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.ds-pagination__nav--next a::attr(href)')[0].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.Timestamp::attr(title)').get()
        temp = date.split(' ', 1)
        date = temp[0]
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.CardHeadline h1::text').get()
            paragraph = response.css('.Article p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
apnews = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/apnews.json')
Filter(apnews)
apnews

          date  ... is_fake
0   2021-07-02  ...       0
1   2021-07-03  ...       0
2   2021-07-02  ...       0
3   2021-07-02  ...       0
4   2021-05-19  ...       0
..         ...  ...     ...
721 2021-07-01  ...       0
722 2021-07-01  ...       0
723 2021-07-02  ...       0
724 2021-07-03  ...       0
725 2021-07-01  ...       0

[726 rows x 4 columns]

##Npr (**load_more style**)

In [ ]:
import scrapy
offset, times = 0, 0
valid = True
res = ''
dictionary = {
    'national/': [1003, 25],
    'politics/': [1014, 25],
    'health/': [1128, 23],
    'technology/': [1019, 24],
    'world/': [1004, 22],
    'business/': [1006, 25],
    'science/': [1007, 24]
}


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        global times, res, offset, valid
        urls = [
            'https://www.npr.org/sections/national/',
            'https://www.npr.org/sections/politics/',
            'https://npr.org/sections/health/'
            'https://npr.org/sections/technology/'
            'https://www.npr.org/sections/world/'
            'https://www.npr.org/sections/business/'
            'https://www.npr.org/sections/science/',
        ]

        for url in urls:
            for key in dictionary.keys():
                if url.endswith(key):
                    res = key
                    break
            times = 0
            offset = 0
            valid = True
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        global offset, times
        getLinkInDiv = response.css('h2.title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        if valid:
            next_page = 'https://www.npr.org/get/'
            temp = dictionary[res][0]
            next_page = next_page + str(temp)
            next_page = next_page + '/render/partial/next?start='
            if times == 0:
                offset += dictionary[res][1]
                times += 1
            else:
                offset += 24
            next_page = next_page + str(offset)
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        global valid
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.date::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.storytitle h1::text').get()
            paragraph = response.css('.storylocation p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 0 or count == 1 or count == 2:
                    count += 1
                    continue
                if count == 6:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }
        else:
            valid = False

In [ ]:
npr_national = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_national.json')
npr_business = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_business.json')
npr_science = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_science.json')
npr_health = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_health.json')
npr_tech = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_tech.json')
npr_world = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_world.json')
npr_politic = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_politics.json')

In [ ]:
npr_list = [npr_science, npr_health, npr_tech, npr_world, npr_politic]
npr = npr_national.append(npr_business, ignore_index=True)
for i in npr_list:
  npr = npr.append(i, ignore_index=True)
Filter(npr)
npr

                       date  ... is_fake
0      Updated July 2, 2021  ...       0
1      Updated July 2, 2021  ...       0
2      Updated July 1, 2021  ...       0
3      Updated July 1, 2021  ...       0
4              July 1, 2021  ...       0
...                     ...  ...     ...
30471        March 12, 2020  ...       0
30472        March 12, 2020  ...       0
30473        March 12, 2020  ...       0
30474        March 13, 2020  ...       0
30475        March 13, 2020  ...       0

[30476 rows x 4 columns]

##Brg

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://bgr.com/tech/',
            'https://bgr.com/entertainment/',
            'https://bgr.com/deals/',
            'https://bgr.com/business/',
            'https://bgr.com/science/',
            'https://bgr.com/lifestyle/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.font-bold')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('.lg\:mr-0 div::text').get()  
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [ ]:
brg = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data3.json')
Filter(brg)
brg

                     date  ... is_fake
0     2021-07-01 20:24:00  ...       0
1     2021-06-30 15:21:00  ...       0
2     2021-06-30 16:35:00  ...       0
3     2021-06-30 17:12:00  ...       0
4     2021-06-30 18:15:00  ...       0
...                   ...  ...     ...
30630 2019-12-03 19:06:00  ...       0
30631 2019-12-03 19:37:00  ...       0
30632 2019-12-04 12:50:00  ...       0
30633 2019-12-04 09:53:00  ...       0
30634 2019-12-04 09:10:00  ...       0

[30635 rows x 4 columns]

##Indiaexpress

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://indianexpress.com/section/world/',
            'https://indianexpress.com/section/india/',
            'https://indianexpress.com/section/cities/',
            'https://indianexpress.com/section/opinion/',
            'https://indianexpress.com/section/sports/',
            'https://indianexpress.com/section/entertainment/',
            'https://indianexpress.com/section/lifestyle/',
            'https://indianexpress.com/section/technology/',
            'https://indianexpress.com/section/explained/',
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.north-east-grid')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('div.editor span::text').get()  
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('div.heading-part h1::text').get()
            paragraph = response.css('div#pcl-full-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
india = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data13.json')
Filter(india)
india

                                          date  ... is_fake
0                      July 4, 2021 8:36:13 am  ...       0
1                      July 4, 2021 8:46:49 am  ...       0
2            Updated: July 2, 2021  5:00:26 pm  ...       0
3                      July 2, 2021 8:20:51 pm  ...       0
4                      July 3, 2021 7:50:03 am  ...       0
...                                        ...  ...     ...
28771   Updated: September 9, 2018  9:10:15 pm  ...       0
28772            September 9, 2018 10:57:57 am  ...       0
28773  Updated: September 9, 2018  11:17:35 am  ...       0
28774            September 9, 2018 11:28:43 am  ...       0
28775            September 9, 2018 12:07:03 pm  ...       0

[28776 rows x 4 columns]

##Slate

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://slate.com/news-and-politics/',
            'https://slate.com/culture/',
            'https://slate.com/technology/',
            'https://slate.com/culture/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        allLinks = response.css('.topic-stories-list a::attr(href)').getall()

        for each_link in allLinks:
            each_link = response.urljoin(each_link)
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.topic-stories-list__pagination a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse, dont_filter=True)

    def parse_href(self, response):
        var = response.css('.article__rubric::text').get()
        if var != '      The Slate Quiz':
            yearsList = ['2021', '2020', '2019', '2018']
            available = False
            date = response.css('.article__dateline::attr(content)').get()
            if date is not None:
                for year in yearsList:
                    if year in date:
                        available = True
                        break
            if available:
                title = response.css('h1.article__hed::text').get()
                title = title.replace('\n', '')
                title = title.replace('\t', '')
                paragraph = response.css('.article__content p::text').getall()
                text = ''
                count = 0
                for sentence in paragraph:
                    if count == 3:
                        break
                    sentence = sentence.replace('\xa0', '')
                    sentence = sentence.replace('\n', '')
                    sentence = sentence.replace('\t', '')
                    text = text + sentence
                    count += 1
                yield {
                    'date': date,
                    'title': title,
                    'text': text,
                    'is_fake': 0
                }

In [ ]:
slate = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/slate.json')
Filter(slate)
slate

                            date  ... is_fake
0      2021-06-29T20:58:12+00:00  ...       0
1      2021-07-01T09:45:02+00:00  ...       0
2      2021-06-30T16:19:01+00:00  ...       0
3      2021-06-29T18:32:31+00:00  ...       0
4      2021-06-30T13:00:00+00:00  ...       0
...                          ...  ...     ...
19708  2021-06-28T14:30:00+00:00  ...       0
19709  2021-07-05T09:45:00+00:00  ...       0
19710  2021-07-02T19:48:26+00:00  ...       0
19711  2021-06-29T15:08:20+00:00  ...       0
19712  2021-06-29T16:37:58+00:00  ...       0

[19713 rows x 4 columns]

##People

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"
    page_number = 2
    def start_requests(self):
        urls = [
        'https://people.com/tag/news/?page=2',
        'https://people.com/entertainment/?page=2',
        'https://people.com/tag/coronavirus/?page=2',
        'https://people.com/royals/?page=2',
        'https://people.com/lifestyle/?page=2',
        'https://people.com/tag/shopping/?page=2'
       ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkinDiv = response.css('div.tout__contentHeadline')
        allLinks = getLinkinDiv.css('a::attr(href)').getall()


        for each_link in allLinks:
            each_link = 'https://people.com/' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.category-page-list-related-nav-next-button::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('h1::text').get()
        title = title.replace('\n', '')
        title = title.replace('\t', '')
        date = response.css('.padding-12-left::text').get()
        paragraph = response.css('p::text').getall()


        text = ''

        count = 0

        for sentence in paragraph:
            if count == 0:
                count += 1
                continue
            if count == 4:
                break
            sentence = sentence.replace('\xa0', '')
            sentence = sentence.replace('\n', '')
            sentence = sentence.replace('\t', '')
            text = text + sentence
            count += 1

        yield {
            'date' : date,
            'title' : title,
            'text' : text,
            'is_fake' : 0
        }

In [ ]:
people = pd.read_json('https://raw.githubusercontent.com/hoainam2310/Machine-Learning/main/people1.json')
Filter(people)
people

                         date  ... is_fake
0      July 02, 2021 03:30 PM  ...       0
1      July 02, 2021 06:30 PM  ...       0
2      July 02, 2021 03:17 PM  ...       0
3      July 02, 2021 03:20 PM  ...       0
4      July 02, 2021 03:52 PM  ...       0
...                       ...  ...     ...
38432  July 02, 2021 05:32 PM  ...       0
38433  July 02, 2021 06:13 PM  ...       0
38434  July 02, 2021 06:12 PM  ...       0
38435  July 02, 2021 06:29 PM  ...       0
38436  July 02, 2021 05:11 PM  ...       0

[38437 rows x 4 columns]

In [ ]:
Delete_From_DataFrame(people)
people

                         date  ... is_fake
0      July 02, 2021 03:30 PM  ...       0
1      July 02, 2021 06:30 PM  ...       0
2      July 02, 2021 03:17 PM  ...       0
3      July 02, 2021 03:20 PM  ...       0
4      July 02, 2021 03:52 PM  ...       0
...                       ...  ...     ...
34555  July 02, 2021 05:32 PM  ...       0
34556  July 02, 2021 06:13 PM  ...       0
34557  July 02, 2021 06:12 PM  ...       0
34558  July 02, 2021 06:29 PM  ...       0
34559  July 02, 2021 05:11 PM  ...       0

[34560 rows x 4 columns]

##Hollywoodlife

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"
    page_number = 2
    def start_requests(self):
        urls = [
            'https://hollywoodlife.com/topics/news/'
       ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkinDiv = response.css('div.article-feed__article-details')
        allLinks = getLinkinDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = 'https://hollywoodlife.com/topics/news/page/' + str(NewsSpider.page_number) + '/'
        if NewsSpider.page_number <= 10000:
            NewsSpider.page_number += 1
            yield response.follow(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('i::text').get()
        title = title.replace('\n', '')
        title = title.replace('\t', '')
        date = response.css('.article-header__eyebrow-item--date .article-header__eyebrow-text::text').get()
        paragraph = response.css('p::text').getall()

        text = ''

        count = 0

        for sentence in paragraph:
            if count == 0:
                count += 1
                continue
            if count == 4:
                break
            sentence.replace('\xa0', '')
            text = text + sentence
            count += 1

        yield {
            'date' : date,
            'title' : title,
            'text' : text,
            'is_fake' : 0
        }

In [ ]:
hollywoodlife = pd.read_json('https://raw.githubusercontent.com/hoainam2310/Machine-Learning/main/hollywoodlife1.json')
hollywoodlife

/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

                     date  ... is_fake
0     2021-06-30 19:30:00  ...       0
1     2021-06-30 19:14:00  ...       0
2     2021-07-01 00:23:00  ...       0
3     2021-06-30 18:06:00  ...       0
4     2021-06-30 19:12:00  ...       0
...                   ...  ...     ...
37625 2012-05-14 11:43:00  ...       0
37626 2012-06-14 17:57:00  ...       0
37627 2012-06-01 19:49:00  ...       0
37628 2012-06-15 09:29:00  ...       0
37629 2012-06-15 20:55:00  ...       0

[37630 rows x 4 columns]

In [ ]:
Filter(hollywoodlife)
hollywoodlife

                     date  ... is_fake
0     2021-06-30 19:30:00  ...       0
1     2021-06-30 19:14:00  ...       0
2     2021-07-01 00:23:00  ...       0
3     2021-06-30 18:06:00  ...       0
4     2021-06-30 19:12:00  ...       0
...                   ...  ...     ...
37498 2012-05-14 11:43:00  ...       0
37499 2012-06-14 17:57:00  ...       0
37500 2012-06-01 19:49:00  ...       0
37501 2012-06-15 09:29:00  ...       0
37502 2012-06-15 20:55:00  ...       0

[37503 rows x 4 columns]

In [ ]:
#Chuyển dữ liệu về kiểu string để so sánh
hollywoodlife = hollywoodlife.astype({"date": str})

In [ ]:
Delete_From_DataFrame(hollywoodlife)
hollywoodlife

                      date  ... is_fake
0      2021-06-30 19:30:00  ...       0
1      2021-06-30 19:14:00  ...       0
2      2021-07-01 00:23:00  ...       0
3      2021-06-30 18:06:00  ...       0
4      2021-06-30 19:12:00  ...       0
...                    ...  ...     ...
25889  2018-01-02 22:00:00  ...       0
25890  2018-01-02 09:32:00  ...       0
25891  2018-01-01 15:04:00  ...       0
25892  2018-01-02 12:14:00  ...       0
25893  2018-01-01 15:47:00  ...       0

[25894 rows x 4 columns]

##Wtop

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://wtop.com/national/',
            'https://wtop.com/sports/',
            'https://wtop.com/business-finance/recalls/',
            'https://wtop.com/business-finance/washington-business-journal/',
            'https://wtop.com/business-finance/consumer-news/',
            'https://wtop.com/business-finance/real-estate/',
            'https://wtop.com/world/australia/',
            'https://wtop.com/world/africa/',
            'https://wtop.com/world/canada/',
            'https://wtop.com/world/europe/',
            'https://wtop.com/world/latin-america/',
            'https://wtop.com/world/middle-east/',
            'https://wtop.com/lifestyle/health-fitness/coronavirus/',
            'https://wtop.com/lifestyle/health-fitness/coronavirus/',
            'https://wtop.com/local/maryland/',
            'https://wtop.com/local/virginia/',
            'https://wtop.com/local/crime/',
            'https://wtop.com/local/beach-guide/',
            'https://wtop.com/local/local-politics-elections-news/',
            'https://wtop.com/dc-transit/',
            'https://wtop.com/weather-news/',
            'https://wtop.com/local/maryland/anne-arundel-county/',
            'https://wtop.com/local/maryland/baltimore/',
            'https://wtop.com/local/maryland/calvert-county/',
            'https://wtop.com/local/maryland/charles-county/',
            'https://wtop.com/local/maryland/frederick-county/',
            'https://wtop.com/local/maryland/howard-county/',
            'https://wtop.com/local/maryland/montgomery-county/',
            'https://wtop.com/local/maryland/prince-georges-county/',
            'https://wtop.com/government/white-house/',
            'https://wtop.com/government/supreme-court/',
            'https://wtop.com/government/congress/',
            'https://wtop.com/entertainment/arts/',
            'https://wtop.com/entertainment/celebrities/',
            'https://wtop.com/entertainment/movies/',
            'https://wtop.com/entertainment/music/',
            'https://wtop.com/entertainment/tv/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.post__template-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('p.article-post__date::text').get() 
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.page__single--title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
wtop = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data20.json')
Filter(wtop)
wtop

                     date  ... is_fake
0     2021-07-05 15:12:00  ...       0
1     2021-07-05 23:26:00  ...       0
2     2021-07-05 23:34:00  ...       0
3     2021-07-05 11:37:00  ...       0
4     2021-07-05 15:03:00  ...       0
...                   ...  ...     ...
28067 2020-10-30 16:29:00  ...       0
28068 2020-10-31 16:30:00  ...       0
28069 2020-10-30 00:03:00  ...       0
28070 2020-10-08 10:54:00  ...       0
28071 2020-11-10 11:14:00  ...       0

[28072 rows x 4 columns]

##Buzzfeed

In [ ]:
import scrapy
offset = 1
valid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.buzzfeednews.com/'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        global offset

        allLinks = response.css('a.newsblock-story-card__link::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = 'https://www.buzzfeednews.com/us/feed/home?page='
        offset += 1
        next_page = next_page + str(offset) + '&flexpro_enabled=1'
        next_page = response.urljoin(next_page)
        yield scrapy.Request(next_page, callback=self.parse, dont_filter=True)

    def parse_href(self, response):
        global valid
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.news-article-header__timestamps-posted::text').get()
        if date is not None:
            date = date.replace('\n    Posted on ', '')
            temp = date.split(', at', 1)
            date = temp[0]
            for year in yearsList:
                if year in date:
                    available = True
                    break
        if available:
            title = response.css('.news-article-header h1::text').get()
            title = title.replace('\\', '')
            paragraph = response.css('.subbuzz p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                sentence = sentence.replace('\'', ' ')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
buzz = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/buzzfeed.json')
Filter(buzz)
buzz

          date  ... is_fake
0   2021-07-06  ...       0
1   2021-07-01  ...       0
2   2021-07-01  ...       0
3   2021-07-01  ...       0
4   2021-07-01  ...       0
..         ...  ...     ...
195 2021-07-06  ...       0
196 2021-07-06  ...       0
197 2021-07-06  ...       0
198 2021-07-06  ...       0
199 2021-07-06  ...       0

[200 rows x 4 columns]

##Thesun

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.thesun.co.uk/news/uknews/',
            'https://www.thesun.co.uk/news/worldnews/',
            'https://www.thesun.co.uk/news/brexit/',
            'https://www.thesun.co.uk/news/politics/',
            'https://www.thesun.co.uk/news/health-news/',
            'https://www.thesun.co.uk/tech/science/',
            'https://www.thesun.co.uk/tech/phones-gadgets/',
            'https://www.thesun.co.uk/tech/gaming/',
            'https://www.thesun.co.uk/money/news-money/',
            'https://www.thesun.co.uk/money/shopping/',
            'https://www.thesun.co.uk/money/business/'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):

        allLinks = response.css('a.teaser-anchor::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.pagination-next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.article__timestamp::text').get()
        if date is not None:
            for year in yearsList:
                if year in date:
                    available = True
                    break
        if available:
            title = response.css('.article__headline::text').get()
            paragraph = response.css('.article__content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                sentence = sentence.replace('\'', ' ')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

File's link: https://drive.google.com/file/d/1LF-Nl107wEvqcnJ4JXv0ayA5jx0zLm53/view?usp=sharing

In [ ]:
sun = pd.read_json('drive/MyDrive/thesun.json')
Filter(sun)
sun

            date  ... is_fake
0     2021-07-05  ...       0
1     2021-07-05  ...       0
2     2021-07-05  ...       0
3     2021-07-05  ...       0
4     2021-07-05  ...       0
...          ...  ...     ...
99029 2020-11-27  ...       0
99030 2020-11-28  ...       0
99031 2018-09-19  ...       0
99032 2018-09-18  ...       0
99033 2018-09-19  ...       0

[99034 rows x 4 columns]

##Wsvn

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://wsvn.com/news/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.archive-item__title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  # Tạo ra 1 cái list chứa các năm được chấp thuận
        available = False
        date = response.css('div.article-header__meta time::text').get()
        for year in yearsList:  # Duyệt qua mỗi năm
            if year in date:  # Nếu trong bài viết có chứa cái năm được chấp thuận
                available = True  # Biến = true
                break
        if available:
            title = response.css('.article-header__title::text').get()
            paragraph = response.css('.article-body p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
wsvn = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data25.json')
wsvn  = wsvn.reset_index(drop=True).rename(columns = {'i':'is_fake'})
Filter(wsvn)
wsvn

            date  ... is_fake
0     2021-07-06  ...       0
1     2021-07-06  ...       0
2     2021-07-06  ...       0
3     2021-07-06  ...       0
4     2021-07-06  ...       0
...          ...  ...     ...
42693 2018-01-01  ...       0
42694 2018-01-01  ...       0
42695 2018-01-01  ...       0
42696 2018-01-01  ...       0
42697 2018-01-01  ...       0

[42698 rows x 4 columns]

#Tổng hợp trang tin chính thống

In [ ]:
data_real_news = eco.append(apnews, ignore_index=True)
real_news_websites = [npr, brg, india, slate, people, hollywoodlife, wtop, buzz, sun, wsvn]
for item in real_news_websites:
  data_real_news = data_real_news.append(item, ignore_index=True)
data_real_news

                       date  ... is_fake
0       2021-06-24 00:00:00  ...       0
1       2021-06-24 00:00:00  ...       0
2       2021-06-24 00:00:00  ...       0
3       2021-06-24 00:00:00  ...       0
4       2021-06-12 00:00:00  ...       0
...                     ...  ...     ...
353371  2018-01-01 00:00:00  ...       0
353372  2018-01-01 00:00:00  ...       0
353373  2018-01-01 00:00:00  ...       0
353374  2018-01-01 00:00:00  ...       0
353375  2018-01-01 00:00:00  ...       0

[353376 rows x 4 columns]

#Chuyển dữ liệu đã thu thập được thành file.json

Tham khảo tại: https://datatofish.com/export-pandas-dataframe-json/

In [ ]:
from google.colab import files
data_fake_news = data_fake_news.astype({"date":str})
data_fake_news.to_json('data_fake_news.json', orient='records')
files.download('data_fake_news.json')

In [ ]:
data_real_news = data_real_news.astype({"date":str})
data_real_news.to_json('data_real_news.json', orient='records')
files.download('data_real_news.json')