<a href="https://colab.research.google.com/github/dxmai/CS114.L21.KHCL/blob/main/FinalProject/FinalProject_FakeNews_CollectData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import thư viện

In [1]:
import pandas as pd
import json

#Hàm lọc lại năm

In [142]:
def Fitter_Year(dataFrame):
  yearsList = ['2021', '2020', '2019', '2018']
  delete_list = []
  for row in range(len(dataFrame)):
    flag = False
    for year in yearsList:
        if year in dataFrame.iloc[row]['date']:
          flag = True
          break
    if not flag:
      delete_list.append(row)
  return delete_list

In [147]:
def Delete_From_DataFrame(dataFrame):
  delete_list = Fitter_Year(dataFrame)
  for index in delete_list:
     dataFrame.drop(index=index, inplace=True)
  dataFrame.reset_index(drop=True, inplace=True)

#Trang tin giả

##Activistpost

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.activistpost.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)


    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018'] 
        available = False 
        date = response.css('.entry-meta span::text').get() 
        for year in yearsList: 
            if year in date: 
                available = True 
                break
        if available: 
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence = sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [67]:
activist = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/activistpost.json')
activist.dropna(inplace=True)
activist.drop_duplicates(inplace=True)
activist.reset_index(drop=True, inplace=True)
activist

            date  ... is_fake
0     2021-05-28  ...       1
1     2021-06-28  ...       1
2     2021-05-29  ...       1
3     2021-05-28  ...       1
4     2021-06-25  ...       1
...          ...  ...     ...
10270 2019-12-06  ...       1
10271 2019-12-06  ...       1
10272 2019-12-05  ...       1
10273 2019-12-05  ...       1
10274 2019-12-05  ...       1

[10275 rows x 4 columns]

##Natural News

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.naturalnews.com/all-posts.html'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.f-tabbed-list-content')
        allLinks = getLinkInDiv.css('h2 a::attr(href)').getall()

        for each_link in allLinks:
            each_link = 'https://www.naturalnews.com/' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.pagination-next a::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.Article-Author::text').get()
        date = date.replace(' by: ', '')
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [170]:
natural = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/naturalnews.json')
natural.dropna(inplace=True)
natural.drop_duplicates(inplace=True)
natural.reset_index(drop=True, inplace=True)
natural

            date  ... is_fake
0     2021-06-29  ...       1
1     2021-06-29  ...       1
2     2021-06-29  ...       1
3     2021-06-29  ...       1
4     2021-06-29  ...       1
...          ...  ...     ...
11980 2020-03-03  ...       1
11981 2020-03-03  ...       1
11982 2020-03-03  ...       1
11983 2020-03-04  ...       1
11984 2020-03-05  ...       1

[11985 rows x 4 columns]

##Zerohedge

In [ ]:
import scrapy
dateValid = True

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.zerohedge.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.Article_mobileNonSticky__PmGNH')
        allLinks = getLinkInDiv.css('h2 a::attr(href)').getall()

        for each_link in allLinks:
            if dateValid:
                each_link = 'https://www.zerohedge.com' + each_link
                yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.SimplePaginator_next__15okP::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.ArticleFull_headerFooter__date__3T7FN::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.ArticleFull_title__2cUI6::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.NodeContent_body__2clki p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                sentence = sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [69]:
zerohedge = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/zerohedge.json')
zerohedge.dropna(inplace = True)
zerohedge.drop_duplicates(inplace=True)
zerohedge.reset_index(drop=True, inplace=True)
zerohedge

                   date  ... is_fake
0   2021-07-01 09:05:00  ...       1
1   2021-07-01 09:28:00  ...       1
2   2021-07-01 08:35:00  ...       1
3   2021-07-01 08:45:00  ...       1
4   2021-07-01 07:15:00  ...       1
..                  ...  ...     ...
366 2021-06-30 20:05:00  ...       1
367 2021-07-01 12:26:00  ...       1
368 2021-07-01 12:30:00  ...       1
369 2021-07-01 06:44:00  ...       1
370 2021-07-01 12:41:00  ...       1

[371 rows x 4 columns]

##Prntly

In [ ]:
import scrapy
dateValid = True

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://prntly.com/category/science/',
            'https://prntly.com/category/politics/',
            'https://prntly.com/category/world/europe/',
            'https://prntly.com/category/world/asia/',
            'https://prntly.com/category/world/middle-east/',
            'https://prntly.com/category/local-news/',
            'https://prntly.com/category/trade-jobs/',
            'https://prntly.com/category/immigration/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.entry-content-holder')
        allLinks = getLinkInDiv.css('h2 a::attr(href)').getall()

        for each_link in allLinks:
            if dateValid:
                yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.entry-date::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h1.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                sentence = sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [70]:
prntly = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/prntly.json')
prntly.dropna(inplace=True)
prntly.drop_duplicates(inplace=True)
prntly.reset_index(drop=True, inplace=True)
prntly

          date  ... is_fake
0   2020-01-28  ...       1
1   2020-02-07  ...       1
2   2020-01-27  ...       1
3   2020-02-28  ...       1
4   2020-02-28  ...       1
..         ...  ...     ...
566 2020-01-13  ...       1
567 2020-01-13  ...       1
568 2020-01-13  ...       1
569 2020-01-13  ...       1
570 2020-01-13  ...       1

[571 rows x 4 columns]

##Thegateway

In [ ]:
import scrapy
dateValid = True

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.thegatewaypundit.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        if dateValid:
            getLinkInDiv = response.css('div.tgp-post')
            allLinks = getLinkInDiv.css('.entry-archive-title a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.next a::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.entry-meta-text span::text')[2].get()
        date = date.replace('\nPublished ', '')
        temp = date.split(' at', 1)
        date = temp[0]
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h1.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [71]:
thegateway = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/thegateway.json')
thegateway.dropna(inplace=True)
thegateway.drop_duplicates(inplace=True)
thegateway.reset_index(drop=True, inplace=True)
thegateway

                date  ... is_fake
0       July 1, 2021  ...       1
1       July 1, 2021  ...       1
2       July 1, 2021  ...       1
3       July 1, 2021  ...       1
4       July 1, 2021  ...       1
...              ...  ...     ...
36658  June 30, 2021  ...       1
36659  June 30, 2021  ...       1
36660  June 30, 2021  ...       1
36661  June 30, 2021  ...       1
36662   July 1, 2021  ...       1

[36663 rows x 4 columns]

##Conservativedailypost

In [ ]:
import scrapy
dateValid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://conservativedailypost.com/category/politics/'
            'https://conservativedailypost.com/category/u-s/',
            'https://conservativedailypost.com/category/world/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        if dateValid:
            getLinkInDiv = response.css('div.mob')
            allLinks = getLinkInDiv.css('h4 a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.next::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.date-published::text')[-1].get()
        date = date.replace('\n', '')
        date = date.replace('\t', '')
        date = date.replace('\r', '')
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h1.min-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            paragraph = response.css('.content-container p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [72]:
conservative = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/conservative.json')
conservative.dropna(inplace=True)
conservative.drop_duplicates(inplace=True)
conservative.reset_index(drop=True, inplace=True)
conservative

                    date  ... is_fake
0    2021-07-01 13:00:00  ...       1
1    2021-07-01 17:54:00  ...       1
2    2021-07-01 18:18:00  ...       1
3    2021-07-01 19:01:00  ...       1
4    2021-07-01 16:41:00  ...       1
...                  ...  ...     ...
5121 2018-01-23 00:29:00  ...       1
5122 2018-01-23 00:23:00  ...       1
5123 2018-01-23 00:16:00  ...       1
5124 2018-01-22 23:45:00  ...       1
5125 2018-01-21 00:52:00  ...       1

[5126 rows x 4 columns]

##Dailyheadlines

In [ ]:
import scrapy
dateValid = True


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'http://dailyheadlines.com/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        if dateValid:
            getLinkInDiv = response.css('h2.entry-title')
            allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.pagination a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        global dateValid
        date = response.css('.post-meta-date::text')[-1].get()
        date = date.replace('\n', '')
        date = date.replace(' ' * 21, '')
        print(date)
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('h2.post-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            title = title.replace(' ' * 12, '')
            title = title.replace(' ' * 9, '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }
        else:
            dateValid = False

In [73]:
dailyheadline = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/dailyheadline.json')
dailyheadline.dropna(inplace=True)
dailyheadline.drop_duplicates(inplace=True)
dailyheadline.reset_index(drop=True, inplace=True)
dailyheadline

           date  ... is_fake
0    2021-06-25  ...       1
1    2021-06-25  ...       1
2    2021-06-24  ...       1
3    2021-07-01  ...       1
4    2021-06-25  ...       1
...         ...  ...     ...
2572 2021-04-08  ...       1
2573 2021-05-19  ...       1
2574 2021-06-24  ...       1
2575 2021-06-23  ...       1
2576 2021-06-24  ...       1

[2577 rows x 4 columns]

##Dcgazette

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://dcgazette.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False 
        date = response.css('.entry-meta span::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [42]:
dcgaze = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data5.json')
dcgaze.drop(dcgaze[dcgaze['text'] == ""].index, inplace=True)
dcgaze.drop_duplicates(inplace=True)
dcgaze.reset_index(drop=True, inplace=True)
dcgaze

           date  ... is_fake
0    2020-08-21  ...       1
1    2020-08-19  ...       1
2    2020-08-19  ...       1
3    2020-08-19  ...       1
4    2020-08-20  ...       1
...         ...  ...     ...
1479 2019-04-01  ...       1
1480 2019-04-02  ...       1
1481 2019-04-01  ...       1
1482 2019-04-02  ...       1
1483 2019-04-02  ...       1

[1484 rows x 4 columns]

##Worldtruth

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://worldtruth.tv/2018/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.entry-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('.page-nav a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('.entry-title::text').get()
        paragraph = response.css('.td-post-content p::text').getall()
        text = ''
        count = 0
        for sentence in paragraph:
            if count == 4:
                break
            if count == 0:
                count += 1
                continue
            sentence.replace('\xa0', '')
            text = text + sentence
            count += 1
        yield {
            'date': 2018,
            'title': title,
            'text': text,
            'is_fake': 1
        }

In [44]:
world2018 = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data7.json')
world2018.drop(world2018[world2018['text'] == " \n "].index, inplace=True)
world2018.drop_duplicates(inplace=True)
world2018.reset_index(drop=True, inplace=True)
world2018
#77 lỗi " \n "

      date  ... is_fake
0     2018  ...       1
1     2018  ...       1
2     2018  ...       1
3     2018  ...       1
4     2018  ...       1
...    ...  ...     ...
4593  2018  ...       1
4594  2018  ...       1
4595  2018  ...       1
4596  2018  ...       1
4597  2018  ...       1

[4598 rows x 4 columns]

In [45]:
world2019 = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data8.json')
world2019.drop(world2019[world2019['text'] == " \n "].index, inplace=True)
world2019.drop_duplicates(inplace=True)
world2019.reset_index(drop=True, inplace=True)
world2019
#Before 4488 After 4412

      date  ... is_fake
0     2019  ...       1
1     2019  ...       1
2     2019  ...       1
3     2019  ...       1
4     2019  ...       1
...    ...  ...     ...
4407  2019  ...       1
4408  2019  ...       1
4409  2019  ...       1
4410  2019  ...       1
4411  2019  ...       1

[4412 rows x 4 columns]

In [46]:
world2020 = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data10.json')
world2020.drop(world2020[world2020['text'] == " \n "].index, inplace=True)
world2020.drop_duplicates(inplace=True)
world2020.reset_index(drop=True, inplace=True)
world2020
#Before 2879 After 2840

      date  ... is_fake
0     2020  ...       1
1     2020  ...       1
2     2020  ...       1
3     2020  ...       1
4     2020  ...       1
...    ...  ...     ...
2835  2020  ...       1
2836  2020  ...       1
2837  2020  ...       1
2838  2020  ...       1
2839  2020  ...       1

[2840 rows x 4 columns]

##Opindia

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.opindia.com/category/politics/',
            'https://www.opindia.com/category/opinions/',
            'https://www.opindia.com/category/fact-check/',
            'https://www.opindia.com/category/media/',
            'https://www.opindia.com/category/variety/',
            'https://www.opindia.com/category/explainer/',
            'https://www.opindia.com/category/virtual-world/',
            'https://www.opindia.com/category/entertainment/',
            'https://www.opindia.com/category/political-history-of-india/',
            'https://www.opindia.com/category/government-and-policy/',
            'https://www.opindia.com/category/economy-and-finance/',
            'https://www.opindia.com/category/sports/',
            'https://www.opindia.com/category/international/',
            'https://www.opindia.com/category/crime/',
            'https://www.opindia.com/category/law/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.td-module-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('.page-nav a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('div.tdb-block-inner time::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.tdb-title-text::text').get()
            paragraph = response.css('.tdb-block-inner p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [74]:
opindia = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data2.json')
opindia = opindia.dropna()
opindia.drop_duplicates(inplace=True)
opindia.reset_index(drop=True, inplace=True)
opindia

            date  ... is_fake
0     2021-07-01  ...       1
1     2021-07-01  ...       1
2     2021-06-30  ...       1
3     2021-06-30  ...       1
4     2021-06-30  ...       1
...          ...  ...     ...
22476 2018-10-02  ...       1
22477 2021-03-23  ...       1
22478 2020-05-15  ...       1
22479 2018-09-14  ...       1
22480 2018-09-14  ...       1

[22481 rows x 4 columns]

##Blingnews

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'http://www.blingnews.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('span.entry-meta-date::text').get()  
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [75]:
bling = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data15.json')
bling = bling.dropna()
bling.drop_duplicates(inplace=True)
bling.reset_index(drop=True, inplace=True)
bling

           date  ... is_fake
0    2019-09-25  ...       1
1    2019-09-25  ...       1
2    2019-09-25  ...       1
3    2019-09-29  ...       1
4    2019-09-25  ...       1
...         ...  ...     ...
1734 2018-01-02  ...       1
1735 2018-01-01  ...       1
1736 2018-01-01  ...       1
1737 2018-01-01  ...       1
1738 2018-01-01  ...       1

[1739 rows x 4 columns]

##RightWingTribune

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://rightwingtribune.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.content-list-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False
        date = response.css('span.entry-meta-date::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            title = title.replace('\r', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [76]:
rightwing = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data16.json')
rightwing = rightwing.dropna()
rightwing.drop_duplicates(inplace=True)
rightwing.reset_index(drop=True, inplace=True)
rightwing

           date  ... is_fake
0    2020-12-28  ...       1
1    2020-12-26  ...       1
2    2020-10-04  ...       1
3    2020-12-16  ...       1
4    2020-10-03  ...       1
...         ...  ...     ...
6803 2020-10-01  ...       1
6804 2020-10-02  ...       1
6805 2020-10-02  ...       1
6806 2020-10-01  ...       1
6807 2020-10-02  ...       1

[6808 rows x 4 columns]

##EndOfTheAmericanDream

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'http://endoftheamericandream.com/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h2.entry-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('span.posted-on time::text').get() 
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            title = title.replace('\n', '')
            title = title.replace('\t', '')
            title = title.replace('\r', '')
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [77]:
end = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data17.json')
end = end.dropna()
end.drop_duplicates(inplace=True)
end.reset_index(drop=True, inplace=True)
end

          date  ... is_fake
0   2021-06-29  ...       1
1   2021-07-04  ...       1
2   2021-06-24  ...       1
3   2021-06-28  ...       1
4   2021-06-20  ...       1
..         ...  ...     ...
667 2018-01-03  ...       1
668 2018-05-16  ...       1
669 2018-05-01  ...       1
670 2018-05-14  ...       1
671 2018-05-12  ...       1

[672 rows x 4 columns]

##21centurywire

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"
    page_number = 2
    def start_requests(self):
        urls = [
        'https://21stcenturywire.com/category/international-news/',
        'https://21stcenturywire.com/category/europe/',
        'https://21stcenturywire.com/category/africa/',
        'https://21stcenturywire.com/category/middle-east/',
        'https://21stcenturywire.com/category/us-news/',
        'https://21stcenturywire.com/tag/eurasia/',
        'https://21stcenturywire.com/category/south-america/',
        'https://21stcenturywire.com/category/sci-tech/',
        'https://21stcenturywire.com/tag/covid-19/'
       ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkinDiv = response.css('h2.entry-title')
        allLinks = getLinkinDiv.css('a::attr(href)').getall()


        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.pagination-next a::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('.entry-title::text').get()
        title = title.replace('\n', '')
        title = title.replace('\t', '')
        date = response.css('.time::text').get()
        paragraph = response.css('p::text').getall()


        text = ''

        count = 0

        for sentence in paragraph:
            if count == 0:
                count += 1
                continue
            if count == 4:
                break
            sentence = sentence.replace('\xa0', '')
            sentence = sentence.replace('\n', '')
            sentence = sentence.replace('\t', '')
            text = text + sentence
            count += 1

        yield {
            'date' : date,
            'title' : title,
            'text' : text,
            'is_fake' : 1
        }

In [166]:
stcenturywire = pd.read_json('https://raw.githubusercontent.com/hoainam2310/Machine-Learning/main/21stcenturywire1.json')
stcenturywire.dropna(inplace=True)
stcenturywire.drop_duplicates(inplace=True)
stcenturywire.drop(stcenturywire[stcenturywire['text'] == ""].index, inplace=True)
stcenturywire.reset_index(drop=True, inplace=True)
stcenturywire

           date  ... is_fake
0    2021-06-18  ...       1
1    2019-04-12  ...       1
2    2019-04-12  ...       1
3    2019-12-01  ...       1
4    2019-07-22  ...       1
...         ...  ...     ...
7764 2013-02-10  ...       1
7765 2013-02-09  ...       1
7766 2013-02-09  ...       1
7767 2013-02-09  ...       1
7768 2013-02-09  ...       1

[7769 rows x 4 columns]

In [167]:
#Chuyển kiểu dữ liệu về dạng string 
stcenturywire = stcenturywire.astype({"date":str})

In [168]:
Delete_From_DataFrame(stcenturywire)
stcenturywire

            date  ... is_fake
0     2021-06-18  ...       1
1     2019-04-12  ...       1
2     2019-04-12  ...       1
3     2019-12-01  ...       1
4     2019-07-22  ...       1
...          ...  ...     ...
2654  2020-04-18  ...       1
2655  2020-04-13  ...       1
2656  2020-04-03  ...       1
2657  2020-03-15  ...       1
2658  2020-03-22  ...       1

[2659 rows x 4 columns]

#Tổng hợp

In [172]:
fake_news_website = [zerohedge, prntly, thegateway, conservative, dailyheadline, dcgaze, world2018, world2019, world2020, opindia, bling, rightwing, end, stcenturywire]
data_fake_news = activist.append(natural, ignore_index=True)
for item in fake_news_website:
  data_fake_news = data_fake_news.append(item, ignore_index=True)
data_fake_news

                       date  ... is_fake
0       2021-05-28 00:00:00  ...       1
1       2021-06-28 00:00:00  ...       1
2       2021-05-29 00:00:00  ...       1
3       2021-05-28 00:00:00  ...       1
4       2021-06-25 00:00:00  ...       1
...                     ...  ...     ...
115256           2020-04-18  ...       1
115257           2020-04-13  ...       1
115258           2020-04-03  ...       1
115259           2020-03-15  ...       1
115260           2020-03-22  ...       1

[115261 rows x 4 columns]

#Trang tin chính thống

##Economist

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://www.economist.com/leaders',
            'https://www.economist.com/briefing',
            'https://www.economist.com/united-states',
            'https://www.economist.com/asia',
            'https://www.economist.com/the-americas',
            'https://www.economist.com/china',
            'https://www.economist.com/middle-east-and-africa',
            'https://www.economist.com/europe',
            'https://www.economist.com/britain',
            'https://www.economist.com/international',
            'https://www.economist.com/business',
            'https://www.economist.com/finance-and-economics',
            'https://www.economist.com/science-and-technology',
            'https://www.economist.com/books-and-arts',
            'https://www.economist.com/graphic-detail',
            'https://www.economist.com/obituary'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.teaser__text')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            each_link = 'https://www.economist.com' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.ds-pagination__nav--next a::attr(href)')[0].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.article__dateline-datetime::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.article__headline::text').get()
            paragraph = response.css('.article__body-text::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [79]:
eco = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/economist.json')
eco.dropna(inplace=True)
eco.drop_duplicates(inplace=True)
eco.reset_index(drop=True, inplace=True)
eco

            date  ... is_fake
0     2021-06-24  ...       0
1     2021-06-24  ...       0
2     2021-06-24  ...       0
3     2021-06-24  ...       0
4     2021-06-12  ...       0
...          ...  ...     ...
12599 2020-08-20  ...       0
12600 2019-01-17  ...       0
12601 2018-09-20  ...       0
12602 2018-04-14  ...       0
12603 2018-08-18  ...       0

[12604 rows x 4 columns]

##APNews

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://apnews.com/hub/coronavirus-pandemic',
            'https://apnews.com/hub/politics',
            'https://apnews.com/hub/sports',
            'https://apnews.com/hub/entertainment',
            'https://apnews.com/hub/lifestyle',
            'https://apnews.com/hub/oddities',
            'https://apnews.com/hub/travel',
            'https://apnews.com/hub/technology',
            'https://apnews.com/hub/ap-fact-check',
            'https://apnews.com/hub/business',
            'https://apnews.com/hub/us-news',
            'https://apnews.com/hub/health',
            'https://apnews.com/hub/science',
            'https://apnews.com/hub/world-news',
            'https://apnews.com/hub/religion'
        ]

        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.CardHeadline')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            each_link = 'https://apnews.com' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.ds-pagination__nav--next a::attr(href)')[0].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.Timestamp::attr(title)').get()
        temp = date.split(' ', 1)
        date = temp[0]
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.CardHeadline h1::text').get()
            paragraph = response.css('.Article p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 3:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [ ]:
apnews = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/apnews.json')
apnews

In [80]:
apnews.dropna(inplace=True)
apnews.drop_duplicates(inplace=True)
apnews.reset_index(drop=True, inplace=True)
apnews

          date  ... is_fake
0   2021-07-02  ...       0
1   2021-07-03  ...       0
2   2021-07-02  ...       0
3   2021-07-02  ...       0
4   2021-05-19  ...       0
..         ...  ...     ...
724 2021-07-01  ...       0
725 2021-07-01  ...       0
726 2021-07-02  ...       0
727 2021-07-03  ...       0
728 2021-07-01  ...       0

[729 rows x 4 columns]

##Npr (**load_more style**)

In [ ]:
import scrapy
offset, times = 0, 0
valid = True
res = ''
dictionary = {
    'national/': [1003, 25],
    'politics/': [1014, 25],
    'health/': [1128, 23],
    'technology/': [1019, 24],
    'world/': [1004, 22],
    'business/': [1006, 25],
    'science/': [1007, 24]
}


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        global times, res, offset, valid
        urls = [
            'https://www.npr.org/sections/national/',
            'https://www.npr.org/sections/politics/',
            'https://npr.org/sections/health/'
            'https://npr.org/sections/technology/'
            'https://www.npr.org/sections/world/'
            'https://www.npr.org/sections/business/'
            'https://www.npr.org/sections/science/',
        ]

        for url in urls:
            for key in dictionary.keys():
                if url.endswith(key):
                    res = key
                    break
            times = 0
            offset = 0
            valid = True
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        global offset, times
        getLinkInDiv = response.css('h2.title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        if valid:
            next_page = 'https://www.npr.org/get/'
            temp = dictionary[res][0]
            next_page = next_page + str(temp)
            next_page = next_page + '/render/partial/next?start='
            if times == 0:
                offset += dictionary[res][1]
                times += 1
            else:
                offset += 24
            next_page = next_page + str(offset)
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        global valid
        yearsList = ['2021', '2020', '2019', '2018']
        available = False
        date = response.css('.date::text').get()
        for year in yearsList:
            if year in date:
                available = True
                break
        if available:
            title = response.css('.storytitle h1::text').get()
            paragraph = response.css('.storylocation p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 0 or count == 1 or count == 2:
                    count += 1
                    continue
                if count == 6:
                    break
                sentence = sentence.replace('\xa0', '')
                sentence = sentence.replace('\n', '')
                sentence = sentence.replace('\r', '')
                sentence = sentence.replace('\t', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }
        else:
            valid = False

In [58]:
npr_national = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_national.json')
npr_business = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_business.json')
npr_science = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_science.json')
npr_health = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_health.json')
npr_tech = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_tech.json')
npr_world = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_world.json')
npr_politic = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/npr_politics.json')

In [81]:
npr_list = [npr_science, npr_health, npr_tech, npr_world, npr_politic]
dataset = npr_national.append(npr_business, ignore_index=True)
for i in npr_list:
  dataset = dataset.append(i, ignore_index=True)
dataset.dropna(inplace=True)
dataset.drop_duplicates(inplace=True)
dataset.reset_index(drop=True, inplace=True)
dataset

                       date  ... is_fake
0      Updated July 2, 2021  ...       0
1      Updated July 2, 2021  ...       0
2      Updated July 1, 2021  ...       0
3      Updated July 1, 2021  ...       0
4              July 1, 2021  ...       0
...                     ...  ...     ...
31086        March 12, 2020  ...       0
31087        March 12, 2020  ...       0
31088        March 12, 2020  ...       0
31089        March 13, 2020  ...       0
31090        March 13, 2020  ...       0

[31091 rows x 4 columns]

##Brg

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://bgr.com/tech/',
            'https://bgr.com/entertainment/',
            'https://bgr.com/deals/',
            'https://bgr.com/business/',
            'https://bgr.com/science/',
            'https://bgr.com/lifestyle/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.font-bold')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('.lg\:mr-0 div::text').get()  
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('.entry-title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 1
            }

In [82]:
brg = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data3.json')
brg = brg.dropna()
brg.drop_duplicates(inplace=True)
brg.reset_index(drop=True, inplace=True)
brg

                     date  ... is_fake
0     2021-07-01 20:24:00  ...       0
1     2021-06-30 15:21:00  ...       0
2     2021-06-30 16:35:00  ...       0
3     2021-06-30 17:12:00  ...       0
4     2021-06-30 18:15:00  ...       0
...                   ...  ...     ...
30704 2019-12-03 19:06:00  ...       0
30705 2019-12-03 19:37:00  ...       0
30706 2019-12-04 12:50:00  ...       0
30707 2019-12-04 09:53:00  ...       0
30708 2019-12-04 09:10:00  ...       0

[30709 rows x 4 columns]

##Indiaexpress

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://indianexpress.com/section/world/',
            'https://indianexpress.com/section/india/',
            'https://indianexpress.com/section/cities/',
            'https://indianexpress.com/section/opinion/',
            'https://indianexpress.com/section/sports/',
            'https://indianexpress.com/section/entertainment/',
            'https://indianexpress.com/section/lifestyle/',
            'https://indianexpress.com/section/technology/',
            'https://indianexpress.com/section/explained/',
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('div.north-east-grid')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('div.editor span::text').get()  
        for year in yearsList: 
            if year in date: 
                available = True  
                break
        if available:
            title = response.css('div.heading-part h1::text').get()
            paragraph = response.css('div#pcl-full-content p::text').getall()
            text = ''
            count = 0
            for sentence in paragraph:
                if count == 4:
                    break
                if count == 0:
                    count += 1
                    continue
                sentence.replace('\xa0', '')
                text = text + sentence
                count += 1
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }

In [61]:
india = pd.read_json('https://raw.githubusercontent.com/nguyenthithaohien/data/main/data13.json')
india = india.dropna()
india.drop_duplicates(inplace=True)
india.reset_index(drop=True, inplace=True)
india

                                          date  ... is_fake
0                      July 4, 2021 8:36:13 am  ...       0
1                      July 4, 2021 8:46:49 am  ...       0
2            Updated: July 2, 2021  5:00:26 pm  ...       0
3                      July 2, 2021 8:20:51 pm  ...       0
4                      July 3, 2021 7:50:03 am  ...       0
...                                        ...  ...     ...
28797   Updated: September 9, 2018  9:10:15 pm  ...       0
28798            September 9, 2018 10:57:57 am  ...       0
28799  Updated: September 9, 2018  11:17:35 am  ...       0
28800            September 9, 2018 11:28:43 am  ...       0
28801            September 9, 2018 12:07:03 pm  ...       0

[28802 rows x 4 columns]

##Slate

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://slate.com/news-and-politics/',
            'https://slate.com/culture/',
            'https://slate.com/technology/',
            'https://slate.com/culture/'
        ]
        for url in urls:
            yield scrapy.Request(url, callback=self.parse)

    def parse(self, response):
        allLinks = response.css('.topic-stories-list a::attr(href)').getall()

        for each_link in allLinks:
            each_link = response.urljoin(each_link)
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('.topic-stories-list__pagination a::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse, dont_filter=True)

    def parse_href(self, response):
        var = response.css('.article__rubric::text').get()
        if var != '      The Slate Quiz':
            yearsList = ['2021', '2020', '2019', '2018']
            available = False
            date = response.css('.article__dateline::attr(content)').get()
            if date is not None:
                for year in yearsList:
                    if year in date:
                        available = True
                        break
            if available:
                title = response.css('h1.article__hed::text').get()
                title = title.replace('\n', '')
                title = title.replace('\t', '')
                paragraph = response.css('.article__content p::text').getall()
                text = ''
                count = 0
                for sentence in paragraph:
                    if count == 3:
                        break
                    sentence = sentence.replace('\xa0', '')
                    sentence = sentence.replace('\n', '')
                    sentence = sentence.replace('\t', '')
                    text = text + sentence
                    count += 1
                yield {
                    'date': date,
                    'title': title,
                    'text': text,
                    'is_fake': 0
                }

In [62]:
slate = pd.read_json('https://raw.githubusercontent.com/dxmai/CS114.L21.KHCL/main/FinalProject/Include_Text/slate.json')
slate.dropna(inplace=True)
slate.drop_duplicates(inplace=True)
slate.reset_index(drop=True, inplace = True)
slate

                            date  ... is_fake
0      2021-06-29T20:58:12+00:00  ...       0
1      2021-07-01T09:45:02+00:00  ...       0
2      2021-06-30T16:19:01+00:00  ...       0
3      2021-06-29T18:32:31+00:00  ...       0
4      2021-06-30T13:00:00+00:00  ...       0
...                          ...  ...     ...
19711  2021-06-28T14:30:00+00:00  ...       0
19712  2021-07-05T09:45:00+00:00  ...       0
19713  2021-07-02T19:48:26+00:00  ...       0
19714  2021-06-29T15:08:20+00:00  ...       0
19715  2021-06-29T16:37:58+00:00  ...       0

[19716 rows x 4 columns]

##People

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"
    page_number = 2
    def start_requests(self):
        urls = [
        'https://people.com/tag/news/?page=2',
        'https://people.com/entertainment/?page=2',
        'https://people.com/tag/coronavirus/?page=2',
        'https://people.com/royals/?page=2',
        'https://people.com/lifestyle/?page=2',
        'https://people.com/tag/shopping/?page=2'
       ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkinDiv = response.css('div.tout__contentHeadline')
        allLinks = getLinkinDiv.css('a::attr(href)').getall()


        for each_link in allLinks:
            each_link = 'https://people.com/' + each_link
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = response.css('a.category-page-list-related-nav-next-button::attr(href)').get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('h1::text').get()
        title = title.replace('\n', '')
        title = title.replace('\t', '')
        date = response.css('.padding-12-left::text').get()
        paragraph = response.css('p::text').getall()


        text = ''

        count = 0

        for sentence in paragraph:
            if count == 0:
                count += 1
                continue
            if count == 4:
                break
            sentence = sentence.replace('\xa0', '')
            sentence = sentence.replace('\n', '')
            sentence = sentence.replace('\t', '')
            text = text + sentence
            count += 1

        yield {
            'date' : date,
            'title' : title,
            'text' : text,
            'is_fake' : 0
        }

In [145]:
people = pd.read_json('https://raw.githubusercontent.com/hoainam2310/Machine-Learning/main/people1.json')
people.dropna(inplace=True)
people.drop_duplicates(inplace=True)
people.reset_index(drop=True, inplace=True)
people

                         date  ... is_fake
0      July 02, 2021 03:30 PM  ...       0
1      July 02, 2021 06:30 PM  ...       0
2      July 02, 2021 03:17 PM  ...       0
3      July 02, 2021 03:20 PM  ...       0
4      July 02, 2021 03:52 PM  ...       0
...                       ...  ...     ...
38446  July 02, 2021 05:32 PM  ...       0
38447  July 02, 2021 06:13 PM  ...       0
38448  July 02, 2021 06:12 PM  ...       0
38449  July 02, 2021 06:29 PM  ...       0
38450  July 02, 2021 05:11 PM  ...       0

[38451 rows x 4 columns]

In [148]:
Delete_From_DataFrame(people)
people

                         date  ... is_fake
0      July 02, 2021 03:30 PM  ...       0
1      July 02, 2021 06:30 PM  ...       0
2      July 02, 2021 03:17 PM  ...       0
3      July 02, 2021 03:20 PM  ...       0
4      July 02, 2021 03:52 PM  ...       0
...                       ...  ...     ...
34567  July 02, 2021 05:32 PM  ...       0
34568  July 02, 2021 06:13 PM  ...       0
34569  July 02, 2021 06:12 PM  ...       0
34570  July 02, 2021 06:29 PM  ...       0
34571  July 02, 2021 05:11 PM  ...       0

[34572 rows x 4 columns]

##Hollywoodlife

In [ ]:
import scrapy


class NewsSpider(scrapy.Spider):
    name = "news"
    page_number = 2
    def start_requests(self):
        urls = [
            'https://hollywoodlife.com/topics/news/'
       ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkinDiv = response.css('div.article-feed__article-details')
        allLinks = getLinkinDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)

        next_page = 'https://hollywoodlife.com/topics/news/page/' + str(NewsSpider.page_number) + '/'
        if NewsSpider.page_number <= 10000:
            NewsSpider.page_number += 1
            yield response.follow(next_page, callback=self.parse)

    def parse_href(self, response):
        title = response.css('i::text').get()
        title = title.replace('\n', '')
        title = title.replace('\t', '')
        date = response.css('.article-header__eyebrow-item--date .article-header__eyebrow-text::text').get()
        paragraph = response.css('p::text').getall()

        text = ''

        count = 0

        for sentence in paragraph:
            if count == 0:
                count += 1
                continue
            if count == 4:
                break
            sentence.replace('\xa0', '')
            text = text + sentence
            count += 1

        yield {
            'date' : date,
            'title' : title,
            'text' : text,
            'is_fake' : 0
        }

In [136]:
hollywoodlife = pd.read_json('https://raw.githubusercontent.com/hoainam2310/Machine-Learning/main/hollywoodlife1.json')
hollywoodlife

/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

                     date  ... is_fake
0     2021-06-30 19:30:00  ...       0
1     2021-06-30 19:14:00  ...       0
2     2021-07-01 00:23:00  ...       0
3     2021-06-30 18:06:00  ...       0
4     2021-06-30 19:12:00  ...       0
...                   ...  ...     ...
37625 2012-05-14 11:43:00  ...       0
37626 2012-06-14 17:57:00  ...       0
37627 2012-06-01 19:49:00  ...       0
37628 2012-06-15 09:29:00  ...       0
37629 2012-06-15 20:55:00  ...       0

[37630 rows x 4 columns]

In [ ]:
hollywoodlife.dropna(inplace=True)
hollywoodlife.drop_duplicates(inplace=True)
hollywoodlife.reset_index(drop=True, inplace=True)
hollywoodlife

In [150]:
#Chuyển dữ liệu về kiểu string để so sánh
hollywoodlife = hollywoodlife.astype({"date": str})

In [151]:
Delete_From_DataFrame(hollywoodlife)
hollywoodlife

                      date  ... is_fake
0      2021-06-30 19:30:00  ...       0
1      2021-06-30 19:14:00  ...       0
2      2021-07-01 00:23:00  ...       0
3      2021-06-30 18:06:00  ...       0
4      2021-06-30 19:12:00  ...       0
...                    ...  ...     ...
25958  2018-01-02 22:00:00  ...       0
25959  2018-01-02 09:32:00  ...       0
25960  2018-01-01 15:04:00  ...       0
25961  2018-01-02 12:14:00  ...       0
25962  2018-01-01 15:47:00  ...       0

[25963 rows x 4 columns]

#Tổng hợp

In [174]:
data_real_news = eco.append(apnews, ignore_index=True)
real_news_websites = [dataset, brg, india, slate, people, hollywoodlife]
for item in real_news_websites:
  data_real_news = data_real_news.append(item, ignore_index=True)
data_real_news

                       date  ... is_fake
0       2021-06-24 00:00:00  ...       0
1       2021-06-24 00:00:00  ...       0
2       2021-06-24 00:00:00  ...       0
3       2021-06-24 00:00:00  ...       0
4       2021-06-12 00:00:00  ...       0
...                     ...  ...     ...
184180  2018-01-02 22:00:00  ...       0
184181  2018-01-02 09:32:00  ...       0
184182  2018-01-01 15:04:00  ...       0
184183  2018-01-02 12:14:00  ...       0
184184  2018-01-01 15:47:00  ...       0

[184185 rows x 4 columns]

##Wtop

In [ ]:
import scrapy

class NewsSpider(scrapy.Spider):
    name = "news"

    def start_requests(self):
        urls = [
            'https://wtop.com/national/',
            'https://wtop.com/sports/',
            'https://wtop.com/business-finance/recalls/',
            'https://wtop.com/business-finance/washington-business-journal/',
            'https://wtop.com/business-finance/consumer-news/',
            'https://wtop.com/business-finance/real-estate/',
            'https://wtop.com/world/australia/',
            'https://wtop.com/world/africa/',
            'https://wtop.com/world/canada/',
            'https://wtop.com/world/europe/',
            'https://wtop.com/world/latin-america/',
            'https://wtop.com/world/middle-east/',
            'https://wtop.com/lifestyle/health-fitness/coronavirus/',
            'https://wtop.com/lifestyle/health-fitness/coronavirus/',
            'https://wtop.com/local/maryland/',
            'https://wtop.com/local/virginia/',
            'https://wtop.com/local/crime/',
            'https://wtop.com/local/beach-guide/',
            'https://wtop.com/local/local-politics-elections-news/',
            'https://wtop.com/dc-transit/',
            'https://wtop.com/weather-news/',
            'https://wtop.com/local/maryland/anne-arundel-county/',
            'https://wtop.com/local/maryland/baltimore/',
            'https://wtop.com/local/maryland/calvert-county/',
            'https://wtop.com/local/maryland/charles-county/',
            'https://wtop.com/local/maryland/frederick-county/',
            'https://wtop.com/local/maryland/howard-county/',
            'https://wtop.com/local/maryland/montgomery-county/',
            'https://wtop.com/local/maryland/prince-georges-county/',
            'https://wtop.com/government/white-house/',
            'https://wtop.com/government/supreme-court/',
            'https://wtop.com/government/congress/',
            'https://wtop.com/entertainment/arts/',
            'https://wtop.com/entertainment/celebrities/',
            'https://wtop.com/entertainment/movies/',
            'https://wtop.com/entertainment/music/',
            'https://wtop.com/entertainment/tv/'
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        getLinkInDiv = response.css('h3.post__template-title')
        allLinks = getLinkInDiv.css('a::attr(href)').getall()

        for each_link in allLinks:
            yield scrapy.Request(each_link, callback=self.parse_href)
        next_page = response.css('a.next::attr(href)')[-1].get()
        if next_page is not None:
            next_page = response.urljoin(next_page)
            yield scrapy.Request(next_page, callback=self.parse)

    def parse_href(self, response):
        yearsList = ['2021', '2020', '2019', '2018']  
        available = False  
        date = response.css('p.article-post__date::text').get()  
        for year in yearsList:  
            if year in date:  
                available = True  
                break
        if available:
            title = response.css('.page__single--title::text').get()
            paragraph = response.css('.entry-content p::text').getall()
            text = paragraph[0]
            yield {
                'date': date,
                'title': title,
                'text': text,
                'is_fake': 0
            }